<title>SpoLead</title>

    <p></p>
    <div class="text-right">
        <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-secondary' %>
    </div>

    <div class="text-center">
        <font face="Arial" size=35>総合スポーツチーム口コミ情報サイト</font></br>
        <font face="stencil" size=104>SPOLEAD</font></br>
    </div>
    <div class="row">
    　<div class="col-sm-6 offset-sm-3">
        <%= link_to 'サッカー', teams_path, class: 'btn btn-lg btn-warning' %>
        <%= link_to 'ベースボール',teams_path, class: 'btn btn-lg btn-warning' %>
        <%= link_to 'バレーボール',teams_path, class: 'btn btn-lg btn-warning' %>
        <%= link_to 'ダンス', teams_path, class: 'btn btn-lg btn-warning' %>
      </div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-sm-6 offset-sm-4">
        <%= link_to 'バスケ', teams_path, class: 'btn btn-lg btn-warning' %>
        <%= link_to 'ラグビー', teams_path, class: 'btn btn-lg btn-warning' %>
        <%= link_to 'スイミング', teams_path, class: 'btn btn-lg btn-warning' %>
    　</div>
    </div>
    　<div class="col-sm-6 offset-sm-5">
    　    <p></p>
    　  <%= link_to 'ユーザ登録', signup_path, class: 'btn btn-lg btn-primary' %>
    　</div>
    </div>    　
</div
