<title>SpoLead</title>

<div class="container">
<div class="text-right">
    <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-warning' %>
</div>

<div class="text-center">
        <font face="Arial" size=35>総合スポーツチーム口コミ情報サイト</font></br>
        <font face="stencil" size=104>SPOLEAD</font></br>
</div>

    <div class="row">
    　<div class="col-sm-6 offset-sm-3">
        <%= link_to 'サッカー', signup_path, class: 'btn btn-lg btn-primary' %>
        <%= link_to 'ベースボール', signup_path, class: 'btn btn-lg btn-primary' %>
        <%= link_to 'バレーボール', signup_path, class: 'btn btn-lg btn-primary' %>
        <%= link_to 'ダンス', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
      <div class="col-sm-6 offset-sm-4">
        <%= link_to 'バスケ', signup_path, class: 'btn btn-lg btn-primary' %>
        <%= link_to 'ラグビー', signup_path, class: 'btn btn-lg btn-primary' %>
        <%= link_to 'スイミング', signup_path, class: 'btn btn-lg btn-primary' %>
    　</div>
    </div>    　
    <%= link_to 'ユーザ登録', signup_path, class: 'btn btn-success btn-block' %>
</div
